<div class="container">
    <div class="content">
        <div class="row">
            <div class="col s6">
                <label>Nome</label>
                <p>{{ user.name }}</p>
            </div>
            <div class="col s6">
                <label>Email</label>
                <p>{{ user.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label>Pontuação</label>
                <p>{{ user.score }}</p>
            </div>
        </div>
    </div>
</div>
