<div class="body">
  <div class="content-area">
    <div class="content-area-alert">
        <div class="alert" *ngIf="response != ''">
            <p>{{ response }}</p>
        </div>
    </div>
    <div class="content-area-form">
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="user.name" id="name" type="text" class="validate" required />
          <label for="name">Nome</label>
        </div>
        <div class="input-field col s12">
          <input [(ngModel)]="user.email" id="email" type="email" class="validate" required />
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input [(ngModel)]="user.password" id="password" type="password" class="validate" required />
          <label for="password">Senha</label>
        </div>
      </div>
    </div>
    <button class="btn waves-effect waves-light btn-form" type="submit" (click)="createNewAccount()" name="action">
      Criar conta <i class="material-icons right">send</i>
    </button>
  </div>
</div>
